*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

:root{
    --background: linear-gradient(90deg, rgb(56, 177, 207) 0%, rgb(212, 107, 116) 100%);
    --whiteBG: #FFFFFF;
}

/********************************** Library **********************************/
.bg{
    background: var(--background);
    width: 100vw;
    height: 100vh;
}

/********************************** Pages **********************************/
.startMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.startMenuBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--whiteBG);
    border-radius: 10px;
    height: 600px;
    width: 550px;
}